processed_data/*
!processed_data/.gitkeep 
*.json
!mac_morpho_backup.json
*.pyc
!pos-tags.txt
!prefixes.txt
!suffixes.txt
!vocabulary.txt
!requirements.txt
!corpus_buscape_conceitos_test.txt
!corpus_buscape_conceitos.txt
!UserDictionary_pt.txt
