body {
    background-color: #dde1d8;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.sidenav{
    height: 100%;
    width: 25%;
    position: fixed;
    background-color: #07359b;
    font-size: 25px;
}

.sidenav-option{
    color: #ffffff;
}

.sidenav-current{
    background-color: #dde1d8;
    color: black;
}

.sidenav-internal-1 a{
    color: #dedede;
    background-color: #739df1;
    font-size: 20px;
}
